                    <li>
                      <a href="/" shape="rect">Home</a>
                    </li>
                    <li>
                      <a href="/sistemas" shape="rect">Sistemas</a>
                    </li>
                    <li>
                      <a href="/usertypes" shape="rect">Tipos de Usu&aacute;rios</a>
                    </li>
                    <li>
                      <a href="/" shape="rect">aa</a>
                    </li>
                    <%= @_current_user.id %>